---
k8s_distro: "k3s"
k3s_version: "v1.29.12+k3s1"
rke2_version: "v1.28.4+rke2r2"
tls_sans: "your-server-ip,www.example.com"
disable_traefik: "true"
ingress_nginx_replicas: 1
helm_version: "v3.6.3"
kubectl_version: "v1.21.0"
k9s_version: "v0.32.5"
cert_manager_version: "v1.15.0"
rancher_version: "v2.9.5"
rancher_hostname: "rancher.example.com"
letsencrypt_email: "admin@example.com"
cloudflare_api_key: "your-cloudflare-api-key"
letsencrypt_env: "prod"
rancher_password: "admin"
rancher_replicas: 1
base_domain: "example.com"
wildcard_domain: "*.example.com"
test_nginx_domain: "test.example.com"
ansible_python_interpreter: /usr/bin/python3
k3s_kubeconfig_path: "/etc/rancher/k3s/k3s.yaml"
rke2_kubeconfig_path: "/etc/rancher/rke2/rke2.yaml"

rancher_install: "false"
wildcard_cert: "false"
reflector: "false"
