apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: default-wildcard-tls
  namespace: default
spec:
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: ""
  secretName: default-wildcard-tls-cert
  issuerRef:
    name: letsencrypt-dns01-issuer
    kind: ClusterIssuer
  commonName: "{{ base_domain }}"
  dnsNames:
    - "{{ wildcard_domain }}"
    - "{{ base_domain }}"
